.coordinator-container {
    margin-top: 50px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.coordinator-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    margin: 40px 0px;
}

.coordinator-card {
    text-align: left;
}

.coordinator-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
} 

.coordinator-info {
    margin-top: 20px;
    color: rgb(61, 61, 61);
    
}

.coordinator-info h4{
    margin: 0px;
    color: rgb(100, 100, 100);
    font-weight: 500;
}

.coordinator-info h3{
    margin: 0px;
    font-weight: 700;
}

.address-container {
    width: 80%;
    margin:auto;
    margin-top: 120px;
    margin-bottom: 40px;
    position: relative;
    text-align: center;
}

.map {
    margin-left: auto;
    margin-right: auto;
    width: 80wh;
    height: 50vh;
}


.block{
    display: block;
}

.contact-title{
    margin-bottom: 30px;
    color: #1f3368;
}

.coordinator h3{
    margin: 0px;
    color: rgb(61, 61, 61);
    font-weight: 700;
}

.coordinator a{
    color:rgb(90, 101, 151);
}