.accordion {
    background-color: rgb(212, 212, 212);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    
    padding: 0px 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 5px;
  }

  .panel-no-padding {
    
    
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 5px;
  }

  .nav-logo{
    width: 50px;
    height: 50px;
  }

  .nav-tab{
    background-color: rgb(211, 211, 211);
    padding: 6px;
    border-radius: 5px;
    
  }

  .header-logo{
    margin: 10px 20%;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.8);
    z-index: 10;
    text-align: center;
    border-radius: 10px;
  }

  .header-title{
    margin: 0px auto 22vh auto;
    padding: 20px;
    z-index: 10;
  }


  @media only screen and (max-width: 800px){
    .header-logo{
      margin: 10px 10px;
      padding: 20px;
      background-color:rgba(255, 254, 254, 0.932);
      z-index: 10;
      text-align: center;
    }
  }

  /* @media (max-width: 400px){
    .col-sm-12{
      width: 100% !important;
      
        -webkit-box-flex: 0;
        -webkit-flex: 0 100%;
        -ms-flex: 0 100%;
        flex: 0 100%;
      
    }
  } */


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 7px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: rgb(24, 23, 23);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 16px;
  background-color: #ffffff;
  color: rgb(39, 39, 41);
  border-radius: 7px 7px 0px 0px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 10px 16px;
  background-color: #1f3368;
  color: white;
  font-weight: bold;
  border-radius: 0px 0px 7px 7px;
}

.nav-link-drop{
  color: black;
}

.nav-link-drop:hover{
  color: #1f3368;
}

.course-title{
  text-align: center; 
  margin-bottom: 40px; 
  color:white;
  width:fit-content;
  padding: 3px 15px;
  border-radius: 5px;
  background-color: #3f61bed0;
}

.gradient-right{
  background-image:linear-gradient(to right, rgb(202, 212, 243), rgb(244, 245, 245));
  padding: 10px;
}

.gradient-left{
  background-image:linear-gradient(to left, rgb(244, 245, 245),rgb(185, 198, 236));
  padding: 10px;
}

